body {
   background-color: #C9C9C9!important;
}
form {
    /*background-color: #A4C8E8;*/
    border-radius: 2px;
    /*box-shadow: 0 1px 1px #ccc;*/
    color: #404040;
    font-size: 16px;
    padding: 30px 20px;
}
form legend {
    color: #404040;
    font-size: 42px;
    font-family: 'Cookie', cursive;
    font-weight: normal;
    line-height: 1;
    text-shadow: 0 3px 0 rgba(0,0,0,0.1);
}

.wizard a {
    background: #efefef;
    display: inline-block;
    margin-right: 5px;
    min-width: 150px;
    outline: none;
    padding: 10px 40px 10px;
    position: relative;
    text-decoration: none;
}
.wizard .active {
    background: #45A82D;
    color: #fff;
}

.chart {
    width: 100%;
    height: 280px;
}

.login body{
    background-color: #a0b4c9!important;
}

.login .content {
    background-color: #fff;
    width: 360px;
    margin: 0 auto;
    padding: 20px 30px 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
}

.login .content .login-form {
    padding: 0;
    margin: 0;
}

.login .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
}

.login .logo {
    margin: 20px auto 0px;
    padding: 15px;
    text-align: center;
}

.login .content .forget-password {
    margin-top: 25px;
}

.login .content .form-actions {
    background-color: #fff;
    clear: both;
    border: 0;
    /*border-bottom: 1px solid #eee;*/
    padding: 0 30px 25px;
    margin-left: -30px;
    margin-right: -30px;
}

.login .content .create-account {
    border-top: 1px dotted #eee;
    padding-top: 10px;
    margin-top: 15px;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    border-bottom: thick solid #6AA98C;
    background: url("../Images/header_bg.png") repeat-x #F3F1F8;
    border-radius: 0;
}

.login .copyright {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
    font-size: 13px;
}

a {
    cursor: pointer;
}

.btn-info {
    color: #fff;
    background-color: #ABC565;
    border-color: #ABC565;
}

.btn-info:hover {
    background-color: #ABC565;
    border-color: #ABC565;
}    

.btn-info:active {
    background-color: #ABC565;
    border-color: #ABC565;
} 

.btn-info:focus {
    background-color: #ABC565;
    border-color: #ABC565;
} 

.btn-info:visited {
    background-color: #ABC565;
    border-color: #ABC565;
} 