﻿<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">
        {{vm.title}}
    </div>

    <div class="panel-body" data-cg-busy="vm.myPromise">

        <!--Message template-->
        <div ng-show="vm.message.successMessage" class="alert alert-success">{{vm.message.successMessage}}</div>
        <div ng-show="vm.message.isError" class="alert alert-danger">
            <strong>{{vm.message.errorMessage}}</strong> {{vm.message.errorDescription}}
            <ul>
                <li ng-repeat="x in vm.message.errors">
                    {{ x.toString() }}
                </li>
            </ul>
        </div>
        <!--End: Message template-->



        <form class="form-horizontal" name="resetPasswordForm" novalidate>
            <fieldset>
                <legend>Información del usuario</legend>


                <div class="form-group">
                    <label class="col-md-2 control-label"
                           for="inputUserName">Usuario</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               type="text"
                               name="inputUserName"
                               id="inputUserName"
                               value="{{vm.userName}}"
                               disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label"
                           for="inputName">Nombre</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               type="text"
                               name="inputName"
                               id="inputName"
                               value="{{vm.name}}"
                               disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label"
                           for="inputDocument">Cedula</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               type="text"
                               name="inputDocument"
                               id="inputDocument"
                               value="{{vm.document}}"
                               disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label"
                           for="inputCompany">Entidad</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               type="text"
                               name="inputCompany"
                               id="inputCompany"
                               value="{{vm.company}}"
                               disabled />
                    </div>
                </div>

                <hr />


                <div class="form-group"
                     ng-class="{'has-error':resetPasswordForm.inputCurrentPassword.$invalid &&
                                    resetPasswordForm.inputCurrentPassword.$dirty}">
                    <label class="col-md-2 control-label"
                           for="inputCurrentPassword">Contraseña actual</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               type="password"
                               autocomplete="off"
                               placeholder="Contraseña actual (requerido)"
                               ng-model="vm.currentPassword"
                               required
                               name="inputCurrentPassword"
                               id="inputCurrentPassword" />
                    </div>
                    <span class="help-block has-error"
                          ng-show="resetPasswordForm.inputCurrentPassword.$invalid && resetPasswordForm.inputCurrentPassword.$dirty">
                        La contraseña actual es requerida
                    </span>
                </div>


                <div class="form-group"
                     ng-class="{'has-error':resetPasswordForm.inputNewPassword.$invalid &&
                                    resetPasswordForm.inputNewPassword.$dirty}">
                    <label class="col-md-2 control-label"
                           for="inputNewPassword">Nueva contraseña</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               type="password"
                               autocomplete="off"
                               placeholder="Nueva contraseña (requerido)"
                               ng-model="vm.newPassword"
                               required
                               name="inputNewPassword"
                               id="inputNewPassword" />
                    </div>
                    <span class="help-block has-error"
                          ng-show="resetPasswordForm.inputNewPassword.$invalid && resetPasswordForm.inputNewPassword.$dirty">
                        La nueva contraseña es requerida
                    </span>
                </div>

                <div class="form-group"
                     ng-class="{'has-error':resetPasswordForm.inputConfirmNewPassword.$invalid &&
                                    resetPasswordForm.inputConfirmNewPassword.$dirty}">
                    <label class="col-md-2 control-label"
                           for="inputConfirmNewPassword">Confirmación</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               type="password"
                               autocomplete="off"
                               placeholder="Confirmación de la contraseña (requerido)"
                               ng-model="vm.confirmNewPassword"
                               required
                               name="inputConfirmNewPassword"
                               id="inputConfirmNewPassword" />
                    </div>
                    <span class="help-block has-error"
                          ng-show="resetPasswordForm.inputConfirmNewPassword.$invalid && resetPasswordForm.inputConfirmNewPassword.$dirty">
                        La confirmación de la contraseña es requerida
                    </span>
                </div>







                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <a class="btn btn-default"
                               data-ui-sref="site.dashboard.welcome"
                               style="width:110px">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                Regresar
                            </a>
                        </span>
                        <span>
                            <button class="btn btn-primary"
                                    ng-click="vm.changePassword(resetPasswordForm.$valid)"
                                    ng-disabled="resetPasswordForm.$invalid">
                                Cambiar contraseña
                            </button>
                        </span>
                    </div>
                </div>



            </fieldset>
        </form>


    </div>

</div>


