body {
    background-color: #BBC1C7;
}
form {
    background-color: rgba(66, 139, 202, 0);
    border-radius: 2px;
    box-shadow: 0 1px 1px #ccc;
    color: #404040;
    font-size: 16px;
    padding: 30px 20px;
}
form legend {
    color: #404040;
    font-size: 42px;
    font-family: 'Comfortaa', cursive;
    font-weight: normal;
    line-height: 1;
    text-shadow: 0 3px 0 rgba(0,0,0,0.1);
}

.wizard a {
    background: #efefef;
    display: inline-block;
    margin-right: 5px;
    min-width: 150px;
    outline: none;
    padding: 10px 40px 10px;
    position: relative;
    text-decoration: none;
}
.wizard .active {
    background: rgba(0, 122, 204, 0.5);
    color: #fff;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    border-bottom: thick solid #999999;
    background: url("../images/header_bg.png") repeat-x #F3F1F8;
    border-radius: 0;
}