<form class="form-horizontal" name="productImageForm">
    <fieldset>
        <legend>Product Image</legend>
        <div class="form-group">
            <label class="col-md-2 control-label" for="inputImage">Product Image</label>
            <div class="col-md-8">
                <input class="form-control" name="inputImage" id="inputImage" 
                       type="text"                       
                       placeholder="Paste the product image URL"
                       ng-model="vm.product.imageUrl" />
            </div>            
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputAvailabilityDate">Availability</label>

            <div class="col-md-4">
                <div class="input-group">
                    <input class="form-control"
                           id="inputAvailabilityDate"
                           type="text"
                           datepicker-popup="MMM dd, yyyy "
                           is-open="vm.opened"
                           ng-model="vm.product.releaseDate" />
                    <span class="input-group-btn">
                        <button class="btn btn-default"
                                ng-click="vm.open($event)">
                            <i class="glyphicon glyphicon-calendar" />
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width:80px;margin-right:10px"
                            type="submit"
                            ng-click="vm.submit(productImageForm.$valid)">
                        Save
                    </button>
                </span>
                <span>
                    <button class="btn btn-default"
                            style="width:70px"
                            ng-click="vm.cancel()">
                        Cancel
                    </button>
                </span>
            </div>
        </div>
    </fieldset>
</form>
