<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">
        {{vm.title}}
    </div>

    <div class="panel-body">
        <div class="wizard">
            <a data-ui-sref=".info"
               data-ui-sref-active="active">
                Basic Information
            </a>
            <a data-ui-sref=".price"
               data-ui-sref-active="active">
                Price Details
            </a>
            <a data-ui-sref=".image"
               data-ui-sref-active="active">
                Image & Availability
            </a>
        </div>      
        <div data-ui-view></div>
    </div>

</div>
