<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">
        {{vm.title}}
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3"><strong class="label label-info">Name:</strong></div>
                    <div class="col-md-8">{{vm.product.productName}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong class="label label-info">Code:</strong></div>
                    <div class="col-md-8">{{vm.product.productCode }}</div>
                </div>                
                <div class="row">
                    <div class="col-md-3"><strong class="label label-info">Category:</strong></div>
                    <div class="col-md-8">{{vm.categoryName }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong class="label label-info">Description:</strong></div>
                    <div class="col-md-8">{{vm.product.description }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong class="label label-info">Imported:</strong></div>
                    <div class="col-md-8">{{vm.product.imported ? "Yes": "No" }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong class="label label-info">Availability:</strong></div>
                    <div class="col-md-8">{{vm.product.releaseDate|date }}</div>
                </div>               
                <div class="row">
                    <div class="col-md-3"><strong class="label label-info">Pre-Tax Price:</strong></div>
                    <div class="col-md-8">{{vm.product.netPrice|currency }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong class="label label-info">Selling Price:</strong></div>
                    <div class="col-md-8">{{ vm.product.price|currency }}</div>
                </div>
            </div>

            <div class="col-md-6">
                <img class="center-block img-responsive"
                     style="width:200px;margin:2px;"
                     ng-src="{{vm.product.imageUrl}}"
                     title="{{vm.product.productName}}">
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-default"
           data-ui-sref="productList"
           style="width:80px">
            <I class="glyphicon glyphicon-chevron-left"></i>
            Back
        </a>
        <a class="btn btn-info"
           data-ui-sref="productEdit.info({productId: vm.product.productId})">
            <i class="glyphicon glyphicon-edit"></i>
            Edit
        </a>
    </div>
</div>
