<div class="panel panel-primary">
    <div class="panel-heading"
         style="font-size:large">Product List
    </div>

    <div class="panel-body" data-cg-busy="vm.myPromise">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <button type="button"
                                class="btn btn-default"
                                ng-click="vm.toggleImage()">
                            {{vm.showImage ? "Hide" : "Show"}} Image
                        </button>
                    </th>
                    <th>Product</th>
                    <th>Code</th>
                    <th>Available</th>
                    <th>Pre-Tax Price</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in vm.products">
                    <td>
                        <img ng-if="vm.showImage"
                             ng-src="{{product.imageUrl}}"
                             style="width:50px;margin:2px"
                             title="{{product.productName}}">
                    </td>
                    <td>
                        <a data-ui-sref="productDetail({productId: product.productId})">
                            {{ product.productName}}
                        </a>
                    </td>
                    <td>{{ product.productCode }}</td>
                    <td>{{ product.releaseDate | date }}</td>
                    <td>{{ product.netPrice | currency }}</td>
                    <td ng-if="vm.isAdmin()">
                        <a class="btn btn-info"
                           data-ui-sref="productEdit.info({productId: product.productId})">
                            <i class="glyphicon glyphicon-edit"></i>
                            Edit
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>