<form class="form-horizontal" name="productPriceForm" novalidate>
    <fieldset>
        <legend>Product Price Details</legend>

        <div class="form-group"
             ng-class="{'has-error': productPriceForm.inputnetPrice.$invalid &&
                                     productPriceForm.inputnetPrice.$dirty}">
            <label class="col-md-2 control-label" for="inputnetPrice">Pre-Tax Price</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputnetPrice"
                       name="inputnetPrice"
                       type="number"
                       required
                       placeholder="$(required)"
                       ng-model="vm.product.netPrice"
                       style="text-align:right" />
            </div>
            <span class="help-block has-error">
                <span ng-show="productPriceForm.inputnetPrice.$invalid &&
                                     productPriceForm.inputnetPrice.$dirty">
                    Product price must be a valid number.
                </span>
                <span ng-show="productForm.inputnetPrice.$error.required">
                    Product price is required.
                </span>
            </span>
        </div>


        <div class="col-md-10 col-md-offset-2" style="margin-bottom:10px;" ng-hide="vm.isTaxable()">
            <strong>Basic sales Tax</strong> does not apply to this product due to its category.
        </div>
        
        <div  class="form-group"
             ng-if="vm.isTaxable()">
            <label class=" col-md-2 control-label">Basic Sales Tax</label>           
            <div class="col-md-2">
                <span class="form-control"
                        style="text-align:right">{{vm.basicTaxAmount | currency}}</span>
            </div>
            <h4><span class="label label-info">({{vm.basicTaxPercentage}}%)</span></h4>            
        </div>


        <div class="form-group">
            <label class="col-md-2 control-label">Import Duty</label>
            <div class="col-md-4 btn-group">
                <label class="btn btn-default"
                       ng-model="vm.importOption"
                       btn-radio="'notImported'"
                       style="width:50%">Not imported</label>
                <label class="btn btn-default"
                       ng-model="vm.importOption"
                       btn-radio="'imported'"
                       style="width:50%">Is imported</label>
            </div>
        </div>

        <div class="form-group"
             ng-if="vm.isImported()">
            <label class="col-md-2 control-label">Import Duty Tax</label>
            <div class="col-md-2">
                <span class="form-control"
                        style="text-align:right">{{vm.importedTaxAmount | currency}}</span>
            </div>
            <h4><span class="label label-info">({{vm.importedTaxPercentage}}%)</span></h4>
        </div>

       

        <div class="form-group"
             ng-class="{'has-error': productPriceForm.inputPrice.$invalid &&
                                     productPriceForm.inputPrice.$dirty}">
            <label class="col-md-2 control-label" for="inputPrice">Selling Price</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputPrice"
                       name="inputPrice"
                       type="number"
                       disabled
                       placeholder="$"
                       required
                       ng-model="vm.product.price"
                       style="text-align:right" />
            </div>
            <span class="help-block "
                  ng-show=" productPriceForm.inputPrice.$invalid &&
                                     productPriceForm.inputPrice.$dirty">
                Price must be a valid number.
            </span>
        </div>

        <div class="row">
            <div class="col-md-2" style="text-align:right">Taxes </div>
            <div class="col-md-4">${{vm.taxAmount()|number:2}}</div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width:80px;margin-right:10px"
                            type="submit"
                            ng-disabled="productPriceForm.$invalid"
                            ng-click="vm.submit(productPriceForm.$valid)">
                        Save
                    </button>
                </span>
                <span>
                    <button class="btn btn-default"
                            style="width:70px"
                            ng-click="vm.cancel()">
                        Cancel
                    </button>
                </span>
            </div>
        </div>
    </fieldset>
</form>
