﻿<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>ACME Market Rates</title>

    <!-- Style sheets -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />       
    <!-- Select2 theme Bootstrap 3 theme from https://github.com/fk/select2-bootstrap-css -->
    @*<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="http://fk.github.io/select2-bootstrap-css/css/select2-bootstrap.css">*@  
    <link href="~/Content/Select2_Theme/select2-theme.css" rel="stylesheet" />
    <link href="~/Content/Select2_Theme/select2-bootstrap.css" rel="stylesheet" />
    <!-- End: Select2 theme -->
    <link href="~/Content/select.css" rel="stylesheet" />
    <link href="~/Content/angular-busy.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />   
    <link href="~/Content/app.css" rel="stylesheet" />
    
    <!-- Library Scripts -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/angular-busy.js"></script>    
    <script src="~/Scripts/angular-ui/ui-utils.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/select.js"></script>
    <script src="~/Scripts/toastr.js"></script>

    <!-- Include the JS ReCaptcha API -->
    <script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
    <!-- Include the ngReCaptcha directive --> 
    <script src="~/Scripts/angular-recaptcha.js"></script>

    <!-- Application Script -->
    <script src="App/app.js"></script>

    <!-- Services -->
    <script src="~/App/Common/common.services.js"></script>
    <script src="~/App/Common/helpers.js"></script>
    <script src="~/App/Common/userAccount.js"></script>
    <script src="~/App/Common/loggedUserAccount.js"></script>
    <script src="~/App/Common/currentUser.js"></script>
    <script src="~/App/Common/authorization.js"></script>
    <script src="~/App/Common/productosResource.js"></script>
    <script src="~/App/Common/solicitudesResource.js"></script>
    <script src="~/App/Common/estadoSolicitudResource.js"></script>

    <!-- Main Controllers -->
    <script src="~/App/Dashboard/mainCtrl.js"></script>

    <!-- Login Controllers -->
    <script src="~/App/Login/loginCtrl.js"></script>
    <script src="~/App/Login/registerCtrl.js"></script>
    <script src="~/App/Login/resetPasswordCtrl.js"></script>
    <script src="~/App/Login/activateUserCtrl.js"></script>

    <!-- Request Controllers -->
    <script src="~/App/Dashboard/Requests/requestsListCtrl.js"></script>
    <script src="~/App/Dashboard/Requests/requestDetailCtrl.js"></script>
    <script src="~/App/Dashboard/Requests/requestEditCtrl.js"></script>

    <!-- Product Controllers -->
    <script src="~/App/Dashboard/Requests/productListCtrl.js"></script>
    <script src="~/App/Dashboard/Requests/productDetailCtrl.js"></script>
    <script src="~/App/Dashboard/Requests/productEditCtrl.js"></script>

    <!-- My Account Controllers -->
    <script src="~/App/Dashboard/MyAccount/accountEditCtrl.js"></script>

   
   
</head>

<body ng-app="ACMEApp">

    @RenderBody()

</body>

</html>