﻿
<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-md-6 col-md-offset-3">
            <div class="jumbotron">
                <h2>Felicitaciones!!</h2>
                <p>El usuario ha sido activado de manera exitosa.</p>
                <p><a class="btn btn-success btn-lg" data-ui-sref="site.dashboard.welcome" role="button">Regresar al inicio</a></p>
            </div>
        </div>
    </div>
</div>