﻿


<div class=" login">

    <!-- BEGIN LOGO -->
    <div class="logo">
        <img src="../Images/logo-big.png" alt="" />
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content" data-cg-busy="vm.myPromise">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" name="loginForm" novalidate>
            <h3 class="form-title">Inicio de sesión</h3>
            <div ng-show="vm.message" class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> {{vm.message}} </span>
            </div>
            <div class="form-group"
                 ng-class="{'has-error':loginForm.username.$invalid &&
                                    loginForm.username.$dirty}">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <!--<label class="control-label visible-ie8 visible-ie9">Usuario</label>-->
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class=" glyphicon glyphicon-user"></i>
                    </div>
                    <input class="form-control placeholder-no-fix"
                           type="text"
                           ng-model="vm.userData.email"
                           autocomplete="off"
                           placeholder="Usuario (Email)"
                           name="username"
                           id="username"
                           required />
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error':loginForm.password.$invalid &&
                                    loginForm.password.$dirty}">
                <!--<label class="control-label visible-ie8 visible-ie9">Contraseña</label>-->
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class=" glyphicon glyphicon-lock"></i>
                    </div>
                    <input class="form-control placeholder-no-fix"
                           type="password"
                           ng-model="vm.userData.password"
                           autocomplete="off"
                           placeholder="Contraseña"
                           name="password"
                           id="password"
                           required />
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary pull-right" ng-disabled="loginForm.$invalid" ng-click="vm.login()"> Iniciar sesión </button>
            </div>
         
            <div class="create-account">
                <p>
                    ¿No tiene una cuenta?&nbsp;
                    <a data-ui-sref="site.register" id="register-btn"> Regístrese ahora </a>
                </p>
            </div>
            <div class="create-account">
                <p>
                    ¿Quieres ser un proveedor?&nbsp;
                    <a href="http://186.29.70.43:8889/" target="blank"> Usa nuestra API REST </a>
                </p>
            </div>
            
        </form>
        <!-- END LOGIN FORM -->
    </div>


    <!-- BEGIN COPYRIGHT -->
    <div class="copyright"> 2017 © ACME - Market Rates. </div>
    <!-- END COPYRIGHT -->
</div>


