﻿
<div class=" login">

    <!-- BEGIN LOGO -->
    <div class="logo">
        <img src="../Images/logo-big.png" alt="" />
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content" data-cg-busy="vm.myPromise">
       
        <!-- BEGIN REGISTRATION FORM -->
        <form class="register-form" name="registerForm" style="display: block; padding: 0px;" novalidate>
            <h3>Cree una cuenta</h3>

            <!--Message template-->
            <div ng-show="vm.message.successMessage" class="alert alert-success">{{vm.message.successMessage}}</div>
            <div ng-show="vm.message.isError" class="alert alert-danger">
                <strong>{{vm.message.errorMessage}}</strong> {{vm.message.errorDescription}}
                <ul>
                    <li ng-repeat="x in vm.message.errors">
                        {{ x.toString() }}
                    </li>
                </ul>
            </div>
            <!--End: Message template-->

            <p> Ingrese su información personal: </p>
            <div class="form-group"
                 ng-class="{'has-error':registerForm.firstName.$invalid &&
                                    registerForm.firstName.$dirty}">
                <div class="input-icon">
                    <i class="fa fa-font"></i>
                    <input class="form-control placeholder-no-fix"
                           ng-model="vm.userData.firstName"
                           type="text"
                           required
                           autocomplete="off"
                           placeholder="Nombres"
                           name="firstName"
                           id="firstName">
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error':registerForm.lastName.$invalid &&
                                    registerForm.lastName.$dirty}">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control placeholder-no-fix"
                           ng-model="vm.userData.lastName"
                           type="text"
                           required
                           autocomplete="off"
                           placeholder="Apellidos"
                           name="lastName"
                           id="lastName">
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error':registerForm.document.$invalid &&
                                    registerForm.document.$dirty}">
                <div class="input-group">
                    <div class="input-group-addon">CC</div>
                    <input class="form-control placeholder-no-fix"
                           ng-model="vm.userData.document"
                           type="text"
                           required
                           autocomplete="off"
                           placeholder="Número de documento"
                           name="document"
                           id="document">
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error':registerForm.email.$invalid &&
                                    registerForm.email.$dirty}">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class=" glyphicon glyphicon-envelope"></i>
                    </div>
                    <input class="form-control placeholder-no-fix"
                           ng-model="vm.userData.email"
                           type="text"
                           required
                           autocomplete="off"
                           placeholder="Correo electrónico"
                           name="email"
                           id="email">
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error':registerForm.password.$invalid &&
                                    registerForm.password.$dirty}">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class=" glyphicon glyphicon-lock"></i>
                    </div>
                    <input class="form-control placeholder-no-fix"
                           type="password"
                           ng-model="vm.userData.password"
                           autocomplete="off"
                           required
                           placeholder="Contraseña"
                           name="password"
                           id="password">
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error':registerForm.confirmPassword.$invalid &&
                                    registerForm.confirmPassword.$dirty}">
                <div class="controls">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class=" glyphicon glyphicon-check"></i>
                        </div>
                        <input class="form-control placeholder-no-fix"
                               type="password"
                               ng-model="vm.userData.confirmPassword"
                               autocomplete="off"
                               required
                               placeholder="Re-ingresar contraseña"
                               name="confirmPassword"
                               id="confirmPassword">
                    </div>
                </div>
            </div>
           
            <div class="form-actions">
                <a data-ui-sref="site.login" class="btn btn-default btn-outline"> Regresar </a>
                <button type="button"
                        class="btn btn-primary pull-right"
                        ng-disabled="registerForm.$invalid" ng-click="vm.registerUser()">
                    Crear cuenta
                </button>
            </div>
        </form>
        <!-- END REGISTRATION FORM -->

    </div>


    <!-- BEGIN COPYRIGHT -->
    <div class="copyright"> 2016 © SRYC - Hospital Infantil Universitario de San José. </div>
    <!-- END COPYRIGHT -->
</div>


