﻿
<div class=" login">

    <!-- BEGIN LOGO -->
    <div class="logo">
        <img src="../Images/logo-big.png" alt="" />
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content" data-cg-busy="vm.myPromise">
       
        <!-- BEGIN RESET PASSWORD FORM -->
        <form class="register-form" action="index.html" method="post" novalidate="novalidate" style="display: block; padding: 0px;">
            <h3>¿ Olvido su contraseña ?</h3>

            <!--Message template-->
            <div ng-show="vm.message.successMessage" class="alert alert-success">{{vm.message.successMessage}}</div>
            <div ng-show="vm.message.isError" class="alert alert-danger">
                <strong>{{vm.message.errorMessage}}</strong> {{vm.message.errorDescription}}
                <ul>
                    <li ng-repeat="x in vm.message.errors">
                        {{ x.toString() }}
                    </li>
                </ul>
            </div>
            <!--End: Message template-->

            <p> Ingrese su dirección de correo electrónico debajo para reiniciar su contraseña. </p>
           
          
            <div class="form-group">                
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class=" glyphicon glyphicon-envelope"></i>
                    </div>  
                    <input class="form-control placeholder-no-fix" ng-model="vm.email" type="text" placeholder="Correo electrónico" name="email">
                </div>
            </div>
                        
         
            <div class="form-actions">
                <a data-ui-sref="site.login" class="btn btn-default btn-outline"> Regresar </a>
                <button type="button" class="btn btn-primary pull-right" ng-click="vm.resetPassword()"> Enviar </button>
            </div>
        </form>
        <!-- END RESET PASSWORD FORM -->

    </div>


    <!-- BEGIN COPYRIGHT -->
    <div class="copyright"> 2016 © SRYC - Hospital Infantil Universitario de San José. </div>
    <!-- END COPYRIGHT -->
</div>


