﻿<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">
        {{vm.title}}
    </div>

    <div class="panel-body">
        <div class="wizard">
            <a data-ui-sref="site.dashboard.productEdit.info"
               data-ui-sref-active="active">
                Informacion basica
            </a>
         
            <a data-ui-sref="site.dashboard.productEdit.image"
               data-ui-sref-active="active">
                Imagen
            </a>
        </div>
        <div data-ui-view></div>
    </div>

</div>
