﻿<div class="panel panel-primary">
    <div class="panel-heading"
         style="font-size:large">
        Product List
    </div>

    <div class="panel-body" data-cg-busy="vm.myPromise">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <button type="button"
                                class="btn btn-default"
                                ng-click="vm.toggleImage()">
                            {{vm.showImage ? "Hide" : "Show"}} Image
                        </button>
                    </th>
                    <th>Product</th>
                    <th>description</th>
                    <th>Code</th>

                    <!--<th>Available</th>
                    <th>Pre-Tax Price</th>-->
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in vm.requests">
                    <td>
                        <img ng-if="vm.showImage"
                             ng-src="{{product.imagen}}"
                             style="width:50px;margin:2px"
                             title="{{product.productName}}">
                    </td>
                    <td>
                        
                        <a data-ui-sref="site.dashboard.productDetail({productId: product.id_producto})">
                            {{ product.nombre_producto}}
                        </a>
                    </td>
                    <td>
                        <p>
                            {{ product.descripcion}}
                        </p>
                    </td>
                    <td>{{ product.codigo }}</td>
                   
                    <td ng-if="vm.isAdmin()">
                        <a class="btn btn-info"
                           data-ui-sref="site.dashboard.productEdit.info({productId: product.id_producto})">
                            <i class="glyphicon glyphicon-edit"></i>&nbsp;Edit
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>