﻿<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">
        Product description
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3"><strong class="label label-info">Name:</strong></div>
                    <div class="col-md-8">{{vm.product.nombre_producto}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong class="label label-info">Code:</strong></div>
                    <div class="col-md-8">{{vm.product.codigo }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong class="label label-info">Description:</strong></div>
                    <div class="col-md-8">{{vm.product.descripcion }}</div>
                </div>
            </div>
            <div class="col-md-6">
                <img class="center-block img-responsive"
                     style="width:200px;margin:2px;"
                     ng-src="{{vm.product.imagen}}"
                     title="{{vm.product.productName}}">
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-default"
           data-ui-sref="site.dashboard.productList"
           style="width:80px">
            <i class="glyphicon glyphicon-chevron-left"></i>&nbsp;Back
        </a>
        <a class="btn btn-info"
           data-ui-sref="site.dashboard.productEdit.info({productId: vm.product.id_producto})">
            <i class="glyphicon glyphicon-edit"></i>&nbsp;Edit
        </a>
    </div>
</div>
