﻿<div class="panel panel-primary">
    <div class="panel-heading"
        style="font-size: large">
        Lista de solicitudes
    </div>


    <div class="panel-body" data-cg-busy="vm.myPromise">

        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#Solicitud</th>
                        <th>Descripción</th>
                        <th>Estado de solicitud</th>
                        <th>Fecha de creación</th>
                        <th>Fecha límite</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="request in vm.requests">
                        <td>{{ request.id_solicitud}}</td>
                        <td>{{ request.descripcion }}</td>
                        <td>{{ vm.estadoSolicitud}}</td>
                        <td>{{ request.fecha_solicitud | date : 'medium'}}</td>
                        <td>{{ request.fecha_limite | date : 'medium'}}</td>
                        <td>
                            <a class="btn btn-success"
                               data-ui-sref="site.dashboard.requestDetail({requestId: request.id_solicitud})">
                                <i class="glyphicon glyphicon-eye-open"></i>&nbsp;Detalle
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
