﻿<div class="content">
    <div class="panel panel-primary">
        <div class="panel-heading" style="font-size:large">Detalle Solicitud</div>

        <div class="panel-body">


            <form class="form-horizontal" name="xxxx" novalidate>
                <fieldset>


                    <legend>Solicitud # {{vm.request.id_solicitud}}</legend>

                    <div class="form-group">
                        <label class="col-md-2 control-label"
                               for="fc">Fecha de Creación</label>

                        <div class="col-md-3">
                            <label class="form-control"
                                   id="fc">{{ vm.request.fecha_solicitud | date : 'medium'}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="fl">Fecha Límite</label>
                        <div class="col-md-3">
                            <label class="form-control"
                                   id="fl">{{ vm.request.fecha_limite | date : 'medium'}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label"
                               for="inputDescription">Descripción</label>

                        <div class="col-md-10">
                            <textarea class="form-control"
                                      id="inputDescription"
                                      placeholder="Description"
                                      rows="2"
                                      ng-model="vm.request.descripcion"
                                      disabled="disabled" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Estado De la solicitud</label>

                        <div class="col-md-2">
                            <input    class="form-control"
                                      id="estadoSolicitud"
                                      placeholder="Description"
                                      ng-model="vm.estadoSolicitud"
                                      disabled="disabled" />
                        </div>
                    </div>


                </fieldset>
            </form>
              
                <fieldset>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-md-4">Producto</th>
                                <th class="col-md-1">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng:repeat="item in vm.request.solicitud">
                                <td class="col-md-4">{{vm.getProductNameById(item.id_producto, vm.products)}}</td>
                                <td class="col-md-1">{{item.cantidad}}</td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>

        </div>
        <div class="panel-footer">
            <a class="btn btn-default"
               data-ui-sref="site.dashboard.requestsList"
               style="width:80px">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Back
            </a>

        </div>
    </div>
</div>

