﻿<div class="content">
    <div class="panel panel-primary">
        <div class="panel-heading" style="font-size:large">Nueva Solicitud</div>

        <div class="panel-body">
            
            <form class="form-horizontal" name="requestForm" novalidate>
                <fieldset>
                    <legend>Detalle Solicitud</legend>

                    <div class="form-group"
                         ng-class="{'has-error':requestForm.inputTime.$invalid &&
                                    requestForm.inputTime.$dirty}">
                        <label class="col-md-2 control-label"
                               for="inputTime">Tiempo de espera en minutos</label>

                        <div class="col-md-2">
                            <input class="form-control"
                                   ng-init="1"
                                   name="inputTime"
                                   min="1"
                                   id="inputTime"
                                   placeholder="60 minutos"
                                   type="number"
                                   ng-model="vm.request.time"
                                   required />
                        </div>
                        <span class="help-block has-error"
                              ng-show="requestForm.inputTime.$invalid ">
                            El tiempo no puede ser 0
                        </span>
                    </div>


                    <div class="form-group"
                         ng-class="{'has-error':requestForm.inputDescription.$invalid &&
                                    requestForm.inputDescription.$dirty}">
                        <label class="col-md-2 control-label"
                               for="inputDescription">Descripción</label>

                        <div class="col-md-8">
                            <textarea class="form-control"
                                      name="inputDescription"
                                      id="inputDescription"
                                      placeholder="Description"
                                      rows="2"
                                      ng-model="vm.request.descripcion"
                                      required />
                        </div>
                        <span class="help-block has-error"
                              ng-show="requestForm.inputDescription.$touched && requestForm.inputDescription.$invalid">
                            La descripción es requerida
                        </span>
                    </div>


                </fieldset>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-4">Producto</th>
                            <th class="col-md-1">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng:repeat="item in vm.request.solicitud">
                            <td class="col-md-4">
                                <select data-chosen
                                        data-option="vm.products"
                                        ng-model="item.id_producto"
                                        ng-options="product.id_producto as product.nombre_producto
                                            for product in vm.products" required></select>
                            </td>
                            <td class="col-md-1"><input type="number" min="1" ng:model="item.cantidad" ng:required class="form-control" style="text-align:right"></td>
                            <td class="col-md-1">
                                <a ng:click="vm.removeItem($index)" class="btn btn-danger btn-small">
                                    <i class="glyphicon glyphicon-remove"></i>&nbsp; Eliminar
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td class="col-md-4">
                                <a ng:click="vm.addItem()" class="btn btn-success btn-small">
                                    <i class="glyphicon glyphicon-plus"></i>&nbsp;  Adicionar Item
                                </a>
                            </td>
                            <td class="col-md-1"></td>
                            <td class="col-md-1"></td>
                        </tr>
                    </tbody>
                </table>
            </form>

            

        </div>
        
        <div class="panel-footer">
            <a class="btn btn-default"
               data-ui-sref="site.dashboard.requestsList"
               style="width:100px">
                <i class="glyphicon glyphicon-chevron-left"></i>&nbsp;Cancelar
            </a>
            <!--<a ng:click="vm.createRequest()" class="btn btn-primary">
                Crear Solicitud &nbsp;<i class="glyphicon glyphicon-ok"></i>
            </a>-->
            <button ng:click="vm.createRequest()" class="btn btn-primary"
                    ng-disabled="requestForm.$invalid">
                Crear Solicitud &nbsp; <i class=" glyphicon glyphicon-ok">
                </i>
            </button>
        </div>
    </div>
</div>

