<div class="content">
    <div class="panel panel-primary">
        <div class="panel-heading" style="font-size:large">Shopping Cart</div>

        <div class="panel-body">

            <table class="table" ng-hide="checkedOut">
                <thead>
                    <tr>
                        <th class="col-md-4">Product</th>
                        <th class="col-md-1">Quantity</th>
                        <th class="col-md-3" style="text-align:right">Price($)</th>
                        <th class="col-md-3" style="text-align:right">Total</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng:repeat="item in invoice.items">
                        <td class="col-md-4">
                            <select data-chosen
                                    data-option="products"
                                    ng-model="item.product"
                                    ng-options="product as product.productName
                                            for product in products"></select>
                        </td>
                        <td class="col-md-1"><input type="number" ng:model="item.qty" ng:required class="form-control" style="text-align:right"></td>
                        <td class="col-md-3"><span class="form-control" style="text-align:right">{{item.product.netPrice | currency}}</span></td>
                        <td class="col-md-3"><span class="form-control" style="text-align:right">{{item.qty * item.product.netPrice | currency}}</span></td>
                        <td class="col-md-1">
                            <a ng:click="removeItem($index)" class="btn btn-danger btn-small">
                                <i class="glyphicon glyphicon-remove"></i>&nbsp; Remove
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td class="col-md-4">
                            <a ng:click="addItem()" class="btn btn-success btn-small">
                                <i class="glyphicon glyphicon-plus"></i>&nbsp;  Add
                            </a>
                        </td>
                        <td class="col-md-1"></td>
                        <td class="col-md-3" style="text-align:right"><strong>Sub Total:</strong></td>
                        <td class="col-md-3"><span class="form-control" style="text-align:right"><strong>{{invoice.subTotal | currency}}</strong></span></td>
                        <td class="col-md-1"></td>
                    </tr>
                    <tr>
                        <td class="col-md-4"></td>
                        <td class="col-md-1"></td>
                        <td class="col-md-3" style="text-align:right"><strong>Sales Taxes:</strong></td>
                        <td class="col-md-3"><span class="form-control" style="text-align:right"><strong>{{invoice.salesTaxes | currency}}</strong></span></td>
                        <td class="col-md-1"></td>
                    </tr>
                    <tr>
                        <td class="col-md-4"></td>
                        <td class="col-md-1"></td>
                        <td class="col-md-3" style="text-align:right"><strong>Total:</strong></td>
                        <td class="col-md-3"><span class="form-control" style="text-align:right"><strong>{{total() | currency}}</strong></span></td>
                        <td class="col-md-1"></td>
                    </tr>
                </tbody>
            </table>

            <div>
                <a ng-if="total() > 0 && checkedOut==false" ng:click="checkout()" class="btn btn-primary">
                    <i class="glyphicon glyphicon-credit-card"></i>&nbsp;Checkout Cart
                </a>
                <a ng-if="total() > 0" ng:click="newInvoice()" class="btn btn-info">
                    <i class="glyphicon glyphicon-new-window"></i>&nbsp;New Invoice
                </a>
            </div>

            <hr />


            <fieldset ng-if="checkedOut">
                <legend>Receipt for invoice # {{invoice.invoiceId}}</legend>

                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-4" style="text-align: right">Product</th>
                            <th class="col-md-1" style="text-align: center">Qty</th>
                            <th class="col-md-2" style="text-align: center">Pre-Tax price</th>
                            <th class="col-md-2" style="text-align: center">Price</th>
                            <th class="col-md-2" style="text-align: center">Total</th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng:repeat="item in invoice.items">
                            <td class="col-md-4" style="text-align: right">{{item.product.productName}}</td>
                            <td class="col-md-1" style="text-align: center">{{item.qty}}</td>
                            <td class="col-md-2" style="text-align: center">{{item.product.netPrice | currency}}</td>
                            <td class="col-md-2" style="text-align: center">{{item.product.price | currency}}</td>
                            <td class="col-md-2" style="text-align: center">{{item.qty * item.product.price | currency}}</td>
                            <td class="col-md-1"></td>
                        </tr>

                        <tr>
                            <td class="col-md-4"></td>
                            <td class="col-md-1"></td>
                            <td class="col-md-2"></td>
                            <td class="col-md-2" style="text-align:right"><strong>Sub Total:</strong></td>
                            <td class="col-md-2" style="text-align: center"><strong>{{invoice.subTotal | currency}}</strong></td>
                            <td class="col-md-1"></td>
                        </tr>
                        <tr>
                            <td class="col-md-4"></td>
                            <td class="col-md-1"></td>
                            <td class="col-md-2"></td>
                            <td class="col-md-2" style="text-align:right"><strong>Sales Taxes:</strong></td>
                            <td class="col-md-2" style="text-align: center"><strong>{{invoice.salesTaxes | currency}}</strong></td>
                            <td class="col-md-1"></td>
                        </tr>
                        <tr>
                            <td class="col-md-4"></td>
                            <td class="col-md-1"></td>
                            <td class="col-md-2"></td>
                            <td class="col-md-2" style="text-align:right"><strong>Total:</strong></td>
                            <td class="col-md-2" style="text-align: center"><strong>{{total() | currency}}</strong></td>
                            <td class="col-md-1"></td>
                        </tr>
                    </tbody>
                </table>

            </fieldset>

            <form class="form-inline" ng-if="checkedOut" name="form.receiptForm"  novalidate>
                <div class="form-group" ng-class="{'has-error':form.receiptForm.inputReceipt.$invalid &&
                                                    form.receiptForm.inputReceipt.$dirty}">
                    <label for="inputReceipt">Show a different receipt</label>
                    <input type="number"
                           class="form-control"
                           id="inputReceipt"
                           name="inputReceipt"
                           ng-model="invoiceReceipt.invoiceId"
                           required
                           placeholder="Receipt Id (required)">
                </div>
                <button ng-disabled="form.receiptForm.$invalid" ng-click="getInvoice(invoiceReceipt)" class="btn btn-primary">Show Receipt</button>                
            </form>

         
        
        </div>
    </div>
</div>

