﻿<div class="panel panel-primary text-center">
    <div class="panel-heading" style="font-size:x-large">
        ¡Bienvenidos!
    </div>
  

    <div class="panel-body">

        <img src="images/logo.png" class="img-responsive center-block" />

        <div class="col-md-offset-3 col-md-6">
            <div>&nbsp;</div>
            <div>Developed by:</div>
            <h3>ACME Corporation</h3>
            <div>Ferney Aguillon</div>
            <div>Santiago Vasquez</div>
            <div>Bayron Lara</div>
            <br/>
            <a href="https://es.wikipedia.org/wiki/Corporaci%C3%B3n_Acme" target="blank">Corporación Acme</a>
        </div>        
    </div>
</div>