<div class="panel panel-primary text-center">
    <div class="panel-heading" style="font-size:x-large">
        Liferay Point of Sales
    </div>
    

    <div class="panel-body">

        <img src="images/logo_liferay.jpg" style="width:300px;margin:20px" />

        <div class="col-md-12">
            <div>Developed by:</div>
            <h3>Bayron Lara</h3>
            <div>bayron.lara@outlook.com</div>            
        </div>   
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>      
    </div>
</div>
