﻿<nav class="navbar navbar-inverse">
    <div class="container">
        <a class="navbar-brand"
           data-ui-sref="site.dashboard.welcome"
           data-ui-sref-active="active">ACME</a>
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a data-ui-sref="site.dashboard.productList"
                       data-ui-sref-active="active">
                        Lista de productos
                    </a>
                </li>
                <li ng-if="vm.isAdmin()">
                    <a data-ui-sref="site.dashboard.productEdit.info({productId:0})"
                       data-ui-sref-active="active">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;Agregar producto
                    </a>
                </li>
                <li>
                    <a data-ui-sref="site.dashboard.requestsList"    
                       data-ui-sref-active="active">
                        Lista de solicitudes
                    </a>
                </li>
                <li>
                    <a data-ui-sref="site.dashboard.requestEdit({requestId:0})"
                       data-ui-sref-active="active">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;Nueva solicitud
                    </a>
                </li>
                <li class="dropdown">
                    <a data-ui-sref-active="active" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{vm.userName}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a data-ui-sref="site.dashboard.accountEdit" href="#"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Mi Cuenta</a></li>                                                                  
                        <li><a data-ui-sref="site.dashboard.accountEdit" href="#"><i class="glyphicon glyphicon-calendar"></i>&nbsp;&nbsp;Mi Calendario</a></li>                                                                  
                        <li><a data-ui-sref="site.dashboard.accountEdit" href="#"><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;Mis Tareas</a></li>                                                                  
                        <li role="separator" class="divider"></li>
                        <li><a href="#" ng-click="vm.signOut()"><i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;Cerrar Sesión</a></li>
                    </ul>
                </li>
           
            </ul>
        </div>
    </div>
</nav>

<div class="container" data-cg-busy="vm.myPromise">

    <!--Message template-->
    <div ng-show="vm.message.successMessage" class="alert alert-success">{{vm.message.successMessage}}</div>
    <div ng-show="vm.message.isError" class="alert alert-danger">
        <strong>{{vm.message.errorMessage}}</strong> {{vm.message.errorDescription}}
        <ul>
            <li ng-repeat="x in vm.message.errors">
                {{ x.toString() }}
            </li>
        </ul>
    </div>
    <!--End: Message template-->

    <div data-ui-view></div>
</div>
